@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');

body{
  margin:0;
}

.hero{
  font-family: 'Smooch', cursive;
  background-image: url(/img/rainbow.jpg);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  background-attachment: fixed;


}

.hero-text{
  margin-bottom: -1em;
  text-shadow: -1px 3px 6px rgba(0, 0, 0, 1);
}

.about{
  padding-top: 120px;
  background-color: #869DA3;
} 

.services-text{
  padding-top: 120px;
}

.services{
  padding-top: 50px;
  padding-bottom: 120px;
  background-color: #869DA3;
  margin: 0;
}

/* .card-effect{
  box-shadow: -1px 3px 6px rgba(0, 0, 0, 1);

  padding:25px;
  transition: all 0.35s ease;
}

.card-effect: hover {
  box-shadow: none;
  transform: translate
} */

.cbg{
  background-image: url(/img/blue-left.jpg);
}
.c-img{
  background-color: aquamarine;
  height: 100vh;
  opacity: 0;
}