@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');


body{
  margin:0;
  font-family: 'Comfortaa', cursive;
}

.navbar{
  background-color: rgba(134, 157, 163, 0.5);
}
.nav-title{
  font-family: 'Smooch', cursive;
  font-size: 30px;
}

.hero{
  font-family: 'Smooch', cursive;
  background-image: url(/img/rainbow.jpg);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  background-attachment: fixed;
}

.hero-text{
  margin-bottom: -1em;
  text-shadow: -1px 3px 6px rgba(0, 0, 0, 1);

}

.about{
  padding-top: 210px;
  background-color: #869DA3;
} 

.services-text{
  padding-top: 120px;
  font-size: 50px;
}

.services{
  padding-top: 50px;
  padding-bottom: 120px;
  background-color: #869DA3;
  margin: 0;
}

.cbg{
  background-image: url(/img/blue-left.jpg); 
  background-position: center;
  background-repeat: none;
  background-size: cover;
  background-attachment: fixed;

}
.c-img{
  background-color: #fff;
  height: 100vh;
  opacity: 0;
}
.cbg-text{
  text-shadow: 1px 0px 4px rgba(0, 0, 0, 0.60);
  font-size: 22px;
}

img{
  width: 100%;
}

.custom-p{
  padding-bottom: 150px;
}

.portfolio-text{
  background-color: #1B3752;
  font-size: 50px;
}
.portfolio{
  background-color: #1B3752;
}

.accordion-custom{
  width: 65vw;
}

/* -- */
#contact-form{
margin: 5% 10%;
}

.input{
  width: 75%;
}

#contact-section{
  padding-top: 10%;
  padding-bottom: 10%;
  background-image: url(/img/blue-left.jpg); 
  background-position: center;
  background-repeat: none;
  background-size: contain;
  background-size: 100%;
  background-attachment: fixed;
}

footer{
  height: 150px;
  background-color: #869DA3;
}