@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');

body{
  margin:0;
}

.hero{
  font-family: 'Smooch', cursive;
  background-image: url(/img/rainbow.jpg);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  background-attachment: fixed;
}

.hero-text{
  margin-bottom: -1em;
  text-shadow: -1px 3px 6px rgba(0, 0, 0, 1);
}

.about{
  padding-top: 150px;
  background-color: #869DA3;
} 

.services-text{
  padding-top: 80px;
}

.services{
  padding-top: 50px;
  padding-bottom: 120px;
  background-color: #869DA3;
  margin: 0;
}

/* .card-effect{
  box-shadow: -1px 3px 6px rgba(0, 0, 0, 1);

  padding:25px;
  transition: all 0.35s ease;
}

.card-effect: hover {
  box-shadow: none;
  transform: translate
} */

.cbg{
  background-image: url(/img/blue-left.jpg); 
  background-position: center;
  background-repeat: none;
  background-size: cover;
  background-attachment: fixed;

}
.c-img{
  background-color: #fff;
  height: 100vh;
  opacity: 0;
}
.cbg-text{
  text-shadow: 1px 0px 4px rgba(0, 0, 0, 0.60);
}

img{
  width: 100%;
}

.portfolio-text{
  background-color: #1B3752;

}
.portfolio{
  background-color: #1B3752;
}

/* .portfolio {
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.porfolio .overlay {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(21, 20, 51, 0.8);
} */